#mainBody{
    position: relative;
    background: #252525;

}

#LogoHeader{
    position: absolute;
    width: 6em;
    height: 6em;
    left: 1.32em;
    top: 8.82em;

    background: #FFFFFF;

}

#divNav {
    box-sizing: border-box;
    display: flex;
    position: center;
    justify-content: center;
    margin: auto;
    margin-top: 1.8em;
    width: 80%;
    height: 4.8em;

    background: #FFE000;
    border: 0.06em solid #000000;
    border-radius: 0.6em;
}

/* css barre de recherhe */

/* css Acueill */