
#mainBody{
    position: relative;
    background: #252525;

}

#LogoHeader{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 22px;
    top: 147px;

    background: #FFFFFF;

}

#divNav {
    box-sizing: border-box;
    display: flex;
    position: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    width: 1300px;
    height: 80px;

    background: #FFE000;
    border: 1px solid #000000;
    border-radius: 10px;
}

#textMenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 70px;
    mix-blend-mode: normal;
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
}

#t1M{
    width: 210px;
    height: 64.38px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3em;

    color: #252525;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#t2M{
    width: 210px;
    height: 80px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3em;

    color: #252525;

    flex: none;
    order: 1;
    flex-grow: 0;
}

#t3M{
    width: 320px;
    height: 80px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3em;
    
    color: #252525;

    flex: none;
    order: 2;
    flex-grow: 0;
}

#t4M{
    width: 210px;
    height: 80px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3em;
    
    color: #252525;
    
    flex: none;
    order: 3;
    flex-grow: 0;
}

#divSearch{
    position: absolute;
    width: 973px;
    height: 100px;
    left: 400.5px;
    top: 146px;

    background: #494848;
    border-radius: 10px;
}

#inputSearch{
    position: absolute;
    width: 250px;
    height: 80px;
    left: 141px;
    border: none;
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #494848;
}

#selectFiltres{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 682.5px;
    top: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#selectFiltreText{
    position: absolute;
    width: 163px;
    height: 43px;
    left: 755px;
    top: 29px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}