
#mainBody{
    position: relative;
    background: #252525;

}

#LogoHeader{
    position: absolute;
    width: 6em;
    height: 6em;
    left: 1.2em;
    top: 9.5em;

    background: #FFFFFF;

}

#divNav {
    box-sizing: border-box;
    display: flex;
    position: center;
    justify-content: center;
    margin: auto;
    margin-top: 2.4em;
    width: 68em;
    height: 5.8;

    background: #FFE000;
    border: 0.06em solid #000000;
    border-radius: 0.6em;
}

#textMenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.1em;
    gap: 4.2em;
    mix-blend-mode: normal;
    filter: drop-shadow(0px 0.24em 0.96em rgba(0, 0, 0, 0.25));
    width: 75%;
}

#t1M{
    width: 210px;
    height: 3.86px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3em;

    color: #252525;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#t2M{
    width: 210px;
    height: 80px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3em;

    color: #252525;

    flex: none;
    order: 1;
    flex-grow: 0;
}

#t3M{
    width: 320px;
    height: 80px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3em;
    
    color: #252525;

    flex: none;
    order: 2;
    flex-grow: 0;
}

#t4M{
    width: 210px;
    height: 80px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3em;
    
    color: #252525;
    
    flex: none;
    order: 3;
    flex-grow: 0;
}

#divSearch{
    position: absolute;
    width: 58.4em;
    height: 6em;
    left: 28em;
    top: 146px;
    align-items: center;
    background: #494848;
    border-radius: 10px;
}

#inputSearch{
    height: 3em;
    border: none;
    border-radius: 0.6em;
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 43px;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #494848;
    width: 65%;
}

#selectFiltres{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 682.5px;
    top: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#selectFiltreText{
    position: absolute;
    width: 163px;
    height: 43px;
    left: 755px;
    top: 29px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


#line{

    position: absolute;
    width: 60px;
    height: 0px;
    left: 109.87px;
    top: 20px;

    mix-blend-mode: normal;
    border: 4px solid #FFFDFD;
    transform: rotate(91.79deg);

}
#loupe{
bottom : 0px;
    
}


